html, body {
  margin : 0px;
  font-family : Roboto;
}

#perm {
  margin: 8px;
}

#main {
  border-bottom-width: 1px;
  border-bottom-color: blue;
  border-bottom-style: solid;
  height: 60px;
  padding-top : 10px;
  padding-left: 30px;
}

#viennot {
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  margin-bottom : 200px;
}


#syt {
  padding : 20px;
  width: 600px;
  float: left;

}

.young {
  margin-bottom: 25px;
  min-width : 300px;

}

.young span {
  display: inline-block;
  font-size : 1.4em;
  font-family: Roboto, 'Ubuntu';
  padding-left : 10px;
  margin-bottom : 7px;
}

.ytBox {
  margin : 4px;
  font-size : 1.5em;
  border: solid 2px;
  display : inline-block;
  width : 35px;
  height : 31px;
  text-align : center;
  padding-top : 4px;
}

#inverseViennot {
  height : 900px;
}

#inverseViennot > span {
  text-align: center;
  font-size: 2em;
  display: block;
  margin-bottom: 40px;
}

#syt1, #syt2 {
  width:200px;
  height:150px;
  margin-left: 50px;
}

.syt-labels {
  display: block;
}

.syt-labels span {
  display: inline-block
  font-size : 1.4em;
  padding-left : 80px;
  padding-right: 10px;
}

#compute-inverse {
  float : right;
  margin-right : 400px;

}

#result-perm {
  margin-top : 40px;
}

#perm-inverse {
  margin-left : 10px;
}

#canvas-inverse {
  margin-top : 50px;
  margin-left : 150px;
}
